.form {
    padding: 0;
}

.form__input {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    height: 60px;
    border-radius: 4px;
    margin-bottom: 32px;
    max-width: 385px;
    min-width: 385px;
    margin-bottom: 32px;
    margin-top: 8px;
    font-family: "Inter", Arial, sans-serif;
    border: 1px solid #838383;
}

.form__input::placeholder {
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #838383;
}

.form__fieldset {
    display: flex;
    flex-direction: column;
    border: none;
    margin-bottom: 120px;
    margin-left: 0;
    margin-right: 0;
    padding: 0 0 0;
}

.form__label {
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
}

.form__label_type_terms {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.form__button {
    border-radius: 4px;
    transition-property: opacity;
    transition-duration: 1s;
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    height: 60px;
    border: none;
    background-color: #2f80ed;
    color: #ffffff;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    margin-bottom: 32px;
    cursor: pointer;
}

.form__button:hover {
    opacity: 0.7;
}

.form__checkbox {
    border-radius: 2px;
    width: 20px;
    height: 20px;
    margin-right: 12px;
    margin-bottom: 0;
    background-color: #2f80ed;
    background-image: url("../images/check.svg");
}
