.form {
    padding: 0;
}

.form__input {
    border-radius: 4px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #838383;
}

.form__fieldset {
    display: flex;
    flex-direction: column;
    border: none;
    margin-bottom: 120px;
}

.form__label {
    margin-bottom: 8px;
}

.form__label_terms {
    display: flex;
    justify-content: center;
}

.form__button {
    border-radius: 4px;
    transition-property: opacity;
    transition-duration: 1s;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    height: 60px;
    border: none;
    background-color: #2f80ed;
    color: #ffffff;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    margin-bottom: 32px;
    cursor: pointer;
}

.form__button:hover {
    opacity: 0.7;
}

.form__checkbox {
    border-radius: 2px;
    width: 20px;
    height: 20px;
    margin-right: 12px;
    margin-bottom: 0;
    background-color: #2f80ed;
    background-image: url("../images/check.svg");
}

.form__input[type="text"],
.form__input[type="number"],
.form__input[type="datetime-local"],
.form__input[type="email"] {
    max-width: 385px;
    min-width: 385px;
    height: 60px;
    margin-bottom: 32px;
    margin-top: 8px;
}
