input {
    height: 60px;
    border: none;
    margin-bottom: 32px;
}

input::placeholder {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #838383;
}
